{
  "openapi": "3.0.3",
  "info": {
    "title": "Recept Shopping List API",
    "description": "API for integrating Recept shopping list with external tools like Home Assistant",
    "version": "1.0.0",
    "contact": {
      "name": "Recept"
    }
  },
  "servers": [
    {
      "url": "https://matrummet.se",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key created in Settings > API Keys"
      }
    },
    "schemas": {
      "ShoppingListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "example": "Mjol"
          },
          "quantity": {
            "type": "number",
            "example": 500
          },
          "unit": {
            "type": "string",
            "example": "g"
          },
          "is_checked": {
            "type": "boolean"
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Kanelbullar",
              "Pannkakor"
            ]
          }
        }
      },
      "ShoppingListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShoppingListItem"
            }
          },
          "checked_count": {
            "type": "integer"
          },
          "unchecked_count": {
            "type": "integer"
          }
        }
      },
      "CheckItemRequest": {
        "type": "object",
        "required": [
          "item_id",
          "checked"
        ],
        "properties": {
          "item_id": {
            "type": "string",
            "format": "uuid"
          },
          "checked": {
            "type": "boolean"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        }
      },
      "ClearResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "cleared": {
            "type": "integer",
            "description": "Number of items removed"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/api/shopping-list": {
      "get": {
        "summary": "Get shopping list",
        "description": "Returns all items in the user's shopping list",
        "operationId": "getShoppingList",
        "responses": {
          "200": {
            "description": "Shopping list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShoppingListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/shopping-list/check": {
      "post": {
        "summary": "Check/uncheck item",
        "description": "Marks an item as purchased or not purchased",
        "operationId": "checkItem",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Item not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/shopping-list/clear": {
      "post": {
        "summary": "Clear checked items",
        "description": "Removes all checked items from the list",
        "operationId": "clearChecked",
        "responses": {
          "200": {
            "description": "Items removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClearResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  }
}
